
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="{{ 'dark' if theme == 'dark' else '' }}">

    <!-- 🔔 TOAST MESSAGES -->
    <div class="toast-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="toast {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/submit-lock.js') }}"></script>
    <script src="{{ url_for('static', filename='js/session.js') }}"></script>
    <script>
    window.SESSION_TIME = Number("{{ session_time | default(0) }}");
</script>



</body>
</html>
