{% extends "base.html" %}
{% block title %}Cadastro{% endblock %}
{% block body_class %}auth-page{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <h2>Cadastro</h2>

      <form method="POST">
    <input type="text" name="username" placeholder="Usuário" required>
    <input type="password" name="password" placeholder="Senha" required>

    <div class="password-strength">
        <div class="strength-bar" id="strengthBar"></div>
        <small id="strengthText"></small>
    </div>

    <button type="submit">Cadastrar</button>
</form>

    </div>
</div>
{% endblock %}


